
/*.gradient {
height: max-content;
    /* can be treated like a fallback 
    background-color: red;*/
  
    /* will be "on top", if browser supports it 
    background-image: linear-gradient(red, rgb(68, 0, 255));
  */
    /* these will reset other properties, like background-position, but it does know what you mean 
    background: red;
    background: linear-gradient(red, orange);
  */
  }
/*
  div.fred {
    height: 100%;
     background-color: red;
    background-image:
      linear-gradient(
        red, #06f039
      );
      
  }
  */
/* needed */
  body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    /*background-image: url("img_girl.jpg");  */
    background-image: linear-gradient(0.25turn,rgb(43, 99, 48), rgb(99, 146, 172)); 
    /*background-image:-moz-linear-gradient(red,blue)
     Full height */
    /*height: 100%;*/
    /*height: max-content;*/
  
    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  }

  .fontColor {


  }
/*
  .body2 {
    display: flex;
  }
*/

div {
  word-wrap: break-word;
}

/*
  * {
    box-sizing:content-box;
  }
  */

  .row {
    display: flex;
    /*flex: 1;*/
    align-items: stretch;
  }
  
  
  @media only screen and (max-width: 600px) {
    
    .row{
      flex-direction: column;
    }
    /*
    .column1 {
      width:100%;
      max-width:fit-content;
    }
    */
    
  }
  
  


  /* Create two columns that sit next to each other */
  .column1 {
    /*flex: 25%,100%;*/
    padding: 10px;
    max-width:fit-content;
   /* max-width:min-content;
    /*flex-wrap:nowrap;
    flex-basis: 100%;
    /*height: 300px;  Should be removed. Only for demonstration */

    /*flex-basis: auto;*/
  }
  
  .column2 {
    flex:50%;
    padding: 10px;
    max-width:fit-content;
  }

  .column3 {
    flex:100%;
    padding: 10px;
    max-height: 100%;
    /*max-width:fit-content;
   /* display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;*/
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/*
  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
*/